* {
  background-color: lightgrey;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

h1,
h2 {
  text-align: center;
  font-size: large;
}
ul {
  list-style-type: none;
}
img {
  width: auto;
  height: 400px;
  border-radius: 10%;
}

footer {
  text-align: center;
  font-size: medium;
  margin: 10px;
  padding: 10px;
}
