* {
  background-color: lightgrey;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

h1,
h2 {
  text-align: center;
  font-size: large;
}

h3 {
  text-align: center;
  font-size: large;
  text-decoration: underline;
  font-style: italic;
  font-weight: bolder;
}
ul {
  list-style-type: none;
}
img {
  width: auto;
  height: 350px;
  border-radius: 10%;
}

.btn-outline-success {
  float: left;
  display: inline-block;
}

.center-container {
  text-align: center;
}

footer {
  text-align: center;
  font-size: medium;
  margin: 10px;
  padding: 10px;
}
