* {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.bg-photo-main {
  background-image: url(/IMAGES/bgtattoogirl.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  margin: 0%;
  color: rgb(4c, 2b, 36);
}

.bg-photo-second {
  background-image: url(/IMAGES/cleanBWbg.avif);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  margin: 0%;
  color: rgb(4c, 2b, 36);
}

.bg-photo-main > .shield {
  margin: 50px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 25px;
}

.bg-photo-second > .shield {
  margin: 50px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 25px;
}

h1 {
  text-align: center;
}
p {
  text-align: center;
  font-size: large;
  text-decoration: underline;
  font-style: italic;
  font-weight: bolder;
}
li {
  list-style-type: none;
}
img {
  width: auto;
  height: 350px;
  border-radius: 10%;
}

.btn-outline-success {
  float: left;
}

footer {
  text-align: center;
  font-size: medium;
  margin: 10px;
  padding: 10px;
}
